<div class="header">
  <div class="anaisInfo">
    <p class="firstInfo">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h2 class="secondInfo">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
    <p class="thirdInfo">ISSN: 1234-5678</p>
  </div>


  <div class="headerRight">
    <div class="language">
      <div class="languageIcons">
        <img src="../assets/headerIcons/language image.png">
        <p>PT, BR</p>
        <img style="width: 6px; height: 6px;"src="../../assets/headerIcons/dropdown.png">
      </div>
    </div>

    <div class="profile">
      <div>
        <p class="profileMessage">Bem vindo!</p>
        <p class="profileMessage">alguem12@galoascience.com</p>
      </div>
      <div>
        <img class="profileIcon" src="../../assets/headerIcons/profile.png">
        <img class="notif" src="../../assets/headerIcons/notification badge.png">
      </div>
    </div>
  </div>
</div>
