<div class="main">
  <div class="sideMenu">
    <div class="sideBar">
      <div class="topNameEvent">
        <h1 class="name">SLACA 2019</h1>
      </div>

      <div class="menuItemLogo">
        <img src="../assets/sideMenuLogo/dewey 4.png">
      </div>

      <div class="menuButtons">
        <button><span>Apresentação</span></button>
        <button><span>Comitês</span></button>
        <button><span>Autores</span></button>
        <button><span>Eixos temáticos</span></button>
        <button class="menuButtonSelected"><span>Trabalhos</span></button>
        <button><span>Contato</span></button>
      </div>
    </div>
  </div>
  <div class="components">
    <app-header></app-header>
    <app-content></app-content>
  </div>
</div>
