::-webkit-scrollbar {
  background: #E7E7E7;
  border-radius: 5px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 5px;
}

.citationContent {
  overflow: auto;
  height: 86%;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  color: #ED7839;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  width: 700px;
}

.right {
  padding-left: 100px;
}

.rightButtons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: end;
}

.download {
  background-color: #ED7839;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 31px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.rightIcons {
  width: 19px;
  height: 19px;
}

.favoriteDoi {
  width: 43px;
  height: 31px;
  background-color: #ED7839;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.citarTitle {
  color: #ED7839;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  text-align: right;
  font-size: 14.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.citPainel {
  width: 242px;
  height: 439px;
  align-items: end;
  border: 1px solid #ECECEC;
  border-radius: 3px;
}

.citHeader {
  background-color: #FDF1EB;
  border-radius: 3px;
}

.citDet {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 18px;
}

.citation {
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  color: #5C5C5C;
  font-size: 13.5px;
  padding: 15px 18px;
}

.autors {
  line-height: 22px;
  font-size: 20px;
}

.univer {
  color: #ADA0A0;
  font-family: "quicksand", sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding: 15px 18px;
}

.video {
  margin-top: 28px;
}

.overlay {
  position: absolute;
  width: 783px;
  height: 439px;
  background-color: #8D350680;
  border-radius: 3px;
}

.videoOverlay img {
  width: 783px;
  height: 439px;
  border-radius: 3px;
}

.title2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  width: 734px;
  padding: 40px 40px;
  font-size: 24px;
  line-height: 25px;
}

.round {
  width: 85px;
  height: 86px;
}

.bottomVideo {
  display: flex;
  margin-left: 36px;
  margin-top: 144px;
}

.bottomVideo h1,
h3 {
  color: white;
  margin-left: 15px;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.left-right {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  width: 90%;
}

.bottom {
  width: 100%;
}

.resumeDiv {
  width: 1127px;
  border-radius: 3px;
  border: 1px solid #E7E7E7;
  margin-left: 50px;
  margin-top: 30px;
}

.resumeHeader {
  width: 1125px;
  height: 43px;
  background-color: #FDF1EB;
  border: #ECECEC 1px solid;
  border-radius: 3px;
}

.resume {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  padding: 10px 15px;
  line-height: 21px;
  font-size: 15px;
  color: #5C5C5C;
}

.btn-show-more {
  text-decoration: none;
  color: #ED7839;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.discutionsDiv {
  width: 1127px;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #E7E7E7;
  margin-left: 50px;
  margin-top: 30px;
}

.discutionsPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.discutionIcons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.newTopic{
  text-align: center;
  margin-top: 20px;
  display: none;
}

.assunto{
  font-family: "roboto", sans-serif;
  font-weight: 700;
  text-align: left;
  margin-left: 40px;
  color: #ED7839;
}

.conteudo{
  width: 1050px;
  border: #CCCCCC 1px solid;
  border-radius: 3px;
  height: 113px;
  margin-left: 40px;
}

.topicSent{
  display: none;
}

.send{
  background-color: #EAF1F2;
  height: 31px;
  width: 1048px;
  display: flex;
  justify-content: end;
  margin-top: 81px;
  border-radius: 3px;
  border-top: #CCCCCC 1px solid;
}

.sendMessage{
  width: 190px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.input{
  width: 1050px;
  height: 39px;
  border: #CCCCCC 1px solid;
  border-radius: 3px;
  align-items: center;
}

.topicSent{
  font-family: "quicksand", sans-serif;
  text-align: center;
}

.blurredBox{
  filter: blur(5px);
}

.blurredText{
  position: absolute;
  margin-top: 50px;
  margin-left: 420px;
}

.discIcon {
  width: 50px;
  height: 50px;
}

.curiosText {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.createPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin-top: 50px;
  width: 1020px;
  border-bottom: #E7E7E7 1px solid;
}

.comentsPosts {
  padding-bottom: 34px;
}

.createTopic {
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  display: flex;
  position: absolute;
  width: 133px;
  height: 32px;
  margin-top: 233px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px #0000003D;
  cursor: pointer;
}

.post {
  border: #E7E7E7 solid 1px;
  border-radius: 4px;
  width: 1050px;
  height: 148px;
  margin-top: 25px;
  margin-left: 37px;
  box-shadow: 0px 0px 8px 0px #0000001F;
  text-align: start;
}

.ops-topic-subject {
  color: #ED7839;
  font-size: 16px;
  font-weight: 700;
}

.postText {
  width: auto;
  padding: 15px 18px;
  font-family: "Quicksand", sans-serif;
}

.postIcons {
  display: flex;
  gap: 10px;
}

.likRes {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #757575;
  font-weight: 100;
}

footer {
  display: flex;
  justify-content: center;
}

.comments-container{
  border: #E7E7E7 solid 1px;
  height: 100%;
  width: 1050px;
  margin-left: 37px;
  display: none;
}

.comment{
  background-color: #F8F8F8;
  border-bottom: #E7E7E7 1px solid;
}

.autor{
  color: #5C5C5C;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0px 0px 20px;
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.autorResp{
  font-family: "quicksand", sans-serif;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0px 30px 20px;
}
