<div class="content">

  <div class="left-right">

    <div class="left">
      <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares
        entre 09 e 15 anos, do município de Campinas/SP </h2>

      <div class="video">
        <div class="overlay">
          <h2 class="title2">Análise sensorial de preparações funcionais desenvolvidas para escolares
            entre 09 e 15 anos, do município de Campinas/SP</h2>
          <div class="bottomVideo">
            <img class="round" src="../../assets/contentIcons/round.png">
            <div>
              <h1>Beatriz Christiane Melo</h1>
              <h3>FCA / Universidade Estadual de Campinas</h3>
            </div>
          </div>
        </div>
        <div class="videoOverlay">
          <img src="../../assets/contentIcons/dewey 1.png">
        </div>
      </div>
    </div>

    <div class="right">
      <div class="rightButtons">

        <div class="download">
          <img class="rightIcons" src="../../assets/contentIcons/download.png">
          <p style="color: white; margin-left: 5px;">Download</p>
        </div>
        <div class="favoriteDoi">
          <img class="rightIcons" src="../../assets/contentIcons/favoritar.png">
        </div>

        <div class="favoriteDoi">
          <img class="rightIcons" src="../../assets/contentIcons/doi.png">
        </div>
      </div>

      <p class="citarTitle">COMO CITAR ESSE TRABALHO?</p>

      <div class="citPainel">
        <div class="citHeader">
          <h1 class="citDet">Detalhes</h1>
        </div>
        <div class="citationContent">
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          </p>
          <p class="autors" class="citation">
            <strong>Autores:</strong><br>
            Galileo Galilei¹ <br>
            Berta Lange de Morretes² <br>
            Isaac Newton³ <br>
            Cesar Lattes¹ <br>
            Stephen Hawking⁴ <br>
          </p>
          <p class="univer">
            ¹Universidade Estadual de Campinas <br>
            ²Universidade de São Paulo <br>
            ³Instituto Nacional de Pesquisas Espaciais <br>
            ⁴Universidade Federal do Rio de Janeiro <br>
          </p>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          <p class="citation">Tipo de Apresentação: <strong>Pôster</strong>
            Eixo temático: <strong>Alimentação e saúde (AS) <br></strong>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
        </div>
      </div>
    </div>

  </div>

  <div class="bottom">
    <div class="resumeDiv">
      <div class="resumeHeader">
        <h2 style="font-family: roboto, sans-serif; font-weight: 500; padding: 5px 10px; color: #4E4E4E;">Resumo</h2>
      </div>
      <p class="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis
        felis ut,
        commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida.
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra
        lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et
        non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque,
        ac gravida eros vestibulum Phasellus condimentum orci id leo
        condimentum lobortis et non lorem. Sed id nisl metus.
        Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
        Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant...<a onclick="verMais();"class="btn-show-more">ver
          mais</a></p>
    </div>
    <div class="discutionsDiv">
      <div class="resumeHeader">
        <h2 style="font-family: roboto, sans-serif; font-weight: 500; padding: 5px 10px; color: #4E4E4E;">Discussões
        </h2>
      </div>
      <div class="discutionsPage">
        <h3 style="color: #ED7839; font-family: roboto, sans-serif; margin-top: 15px;">Compartilhe suas ideias ou
          dúvidas com os autores!</h3>
        <div class="discutionIcons">
          <img class="discIcon" src="../../assets/contentIcons/icone1.png">
          <img class="discIcon" src="../../assets/contentIcons/icone2.png">
          <img class="discIcon" src="../../assets/contentIcons/icone3.png">
        </div>
        <div class="curiosText">
          <p style="width: 789px;">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade?
            Deixe seus questionamentos ou sugestões para o autor!</p>
        </div>
        <div class="createPost">
          <div class="line">
          </div>
        </div>
        <div class="createTopic">
          <img src="../../assets/contentIcons/icon - criar.png"
            style="width: 17px; height: 17px; margin-top: 8px; margin-left: 10px;">
          <a class="btn-create-topic" style="justify-content: center;display: flex;margin-top: 5px;
        font-family: quicksand, sans-serif; font-weight: 700; color: white; margin-left: 10px;">criar tópico</a>
        </div>

        <div class="comentsPosts">
          <div class="">

          </div>
          <div class="">

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
